@import 'var';

html {
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: $primary-color;
	background-color: #EEEEEE;
}

p {
	font-size: 1em;
	margin-bottom: .5em;
	line-height: 1.5em;
}
h1, h2, h3, h4, h5, p {
	line-height: 1.5em;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 1em;
}
h2 {
	font-family: Georgia, serif;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1em;
}
a {
	color: $dot-blue;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	/*&[href^="tel:"]{
		
	}*/
}
.column{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

section.primaryContent {
	background: white;
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 4rem;
    /* hide all but .contentTitle */
    &:not(.active) > .primaryContent-details {
	    display: none;
    }
    & > .contentTitle {
	    display: flex;
	    width: 100%;
	    background: white;
	    
	    i{
		    margin-left: auto;
		    height: 100%;
		    color: $dot-blue;
		    font-size: 1.5em;
		    padding: .5rem;
	    }
    }
    
    &.active .contentTitle {
		margin-bottom: 2rem;
		border-bottom: 4px solid #EEEEEE;
    }
}
section.primaryContent-alwaysOpen {
	/* override the css above and force the content to be always open */
	& > .primaryContent-details {
		display: inherit;
	}

}

img {
	max-height: 100%;
	max-width: 100%;
	/*&.fullWidth {
		width: 100%;
		padding: 1em 0;
	}
	/*&.left {
		float: left;
		padding: 1em 1em 1em 0;
	}
	&.right {
		float: right;
		padding: 1em 1em 1em 0;
	}*/
}
.fullWidth {
		width: 100%;
		padding: 1em 0;
	}
.left {
	float: left;
	padding: 1em 1em 1em 0;
}
.right {
	float: right;
	padding: 1em 1em 1em 0;
}

