section.directory {
	clear: both;
	margin-top: 2rem;
	margin: 2rem -2rem 0 -2rem;
	.tabs {
		display: flex;
	}
	.directoryTab {
		border-top-left-radius: .5rem;
		border-top-right-radius: .5rem;
		color: $primary-color;
		background: white;
		text-transform: uppercase;
		display: flex;
		width: 50%;
		padding: 1rem;
		border: 2px solid #eee;
		i {
			padding: 0 1rem;
		}
		.fa-plus, .fa-minus {
			margin-left: auto;	
		}
		&.active {
			background: $dot-blue;
			color: white;
			border-color: $dot-blue;
		}
	}
	.directoryContent {
		display: none;
		border:1px solid #eee;
		&.active{
			display: block;
		}
	}
	.contact {
		border-bottom: 2px solid lighten($primary-color, 65%);
		
		.contactDetails {
			display: none;
		}
		&.active  {
			.contactDetails {
				display: block;
				.contactDetail {
					margin-left: 4em;
					padding: .75rem;
				}
			}
			
		}
	}
	.contactMain{
		display: flex;
		cursor: pointer;
		i {
			padding: 1rem;
		}
		span {
			display: inline-block;
			padding: 1rem;
			font-weight: 700;
		}
		.contactJob{
			margin-left: auto;
			font-style: italic;
			font-weight: 400;
		}
		
		
	}
	.resources {
		
		&.active {
			display: flex;
		}
		h3{
			color: $dot-blue;
			border-bottom: 4px solid lighten($primary-color, 75%);
			margin-bottom: 1em;
		}
		.directorySubContainer{
			padding-top:1em;
			width: calc(50% - 3rem);
			margin-left: 1rem;
			display: block;	
			&:first-of-type{
				margin-right: 3rem;
			}
			a {
				display: block;
				padding: .5em 0;
				font-weight: 400;
				color: $primary-color;
				i {
					color: $dot-blue;
				}
			}
		}
	}
}
