footer {
	background: #323232;
	color: white;
	font-size: .7777777rem;
	padding: 3rem 1rem 0 1rem;
	line-height: 1.5em;
	letter-spacing: .1em;
	h3{
		font-weight: bold;
		font-size: 1rem;
	}
	li{
		padding: .5em 0;
	}
	a {
		color: white;
		font-weight: 400;
	}
	ul{
		margin-bottom: 1.5rem;
	}
	#BottomInfo{
		clear: both;
		background: #0E0E0E;
		font-size: 10px;
		width: calc(100% + 2rem);
		margin: .5rem -1rem 0 -1rem;
		padding: 1rem;
		line-height: 1.25em;
		.bottomInfoCol{
			padding: .5em 2em;
		}
	}
}