@import 'var';

/* Header */
header {
	background-color: $dot-blue;
	color: white;
	&.active{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;	
		overflow: scroll;
	}
}
#TopBar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 5.555555em;
	.logo {
		margin-left: 1rem;
	}
}
#MegaMenu {
	background-color: $dot-blue;
	a {
		color: white;
	}
	&.active{
		display: block;
		height: 100%;
	}
}
#PrimaryNavButton {
	background: transparent;
	border: none;
	margin-left: auto;
	cursor: pointer;
	margin-right: 1rem;
}
#UtilityNav {
	display: none;
	justify-content: left;
	align-items: center;
	border: 4px solid white;
	border-left: 0px solid;
	border-right: 0px solid;
	width: 100%;
	margin-bottom: 1.5rem;
	
	a {
		font-weight: bold;
		padding: 1.5555em;
		display: inline-block;
		letter-spacing: .1rem;
	}
	.active &{
		display: flex;
	}
	.searchContainer {
		margin-left: auto;
		padding: 1.55555em;	
	}
}
.search_box {
	flex-basis: 1;
	display: flex;
	.searchInput, .searchTxt{
		width: auto;
		color: lighten($dot-blue, 50%);
		background: transparent;
		border: 0;
		&:active, &:focus{
			color: white;
		}
	}
	.searchButton{
		margin-left: auto;
	}
}
.active .mobileUtilNav {
	display: none;
}


.columnNav{
	border-left: 2px solid white;
	height: auto;
	margin-bottom: 2rem;
	
	li {
		padding: .5rem 1rem;
		a {
			i {
				width: 1.75rem;
			}
			font-size: 1rem;
			font-weight: 400;
		}
	}
	.navTitle {
		font-size: 1.16666667rem;
		font-weight: 700;
		letter-spacing: .1rem;
		display: block;
		padding-bottom: .66667rem;
		.fa {
			display: none;
		}
	}
}
/* Breadcrumbs */
nav.breadcrumbs {
	margin: 2rem 0;
	padding-left: 0;
	font-size: .7778rem;
	color: $dot-blue;
	font-weight: bold;
	a{
		text-decoration: underline;
		color: $primary-color;
		font-weight: none;
	}
	.breadcrumbList li {
		display: inline;
	}
}

/* Sidebar */
nav.sidebar{
	margin-top: 4rem;
	padding: 0 3rem 0 1rem;
	#MobileDropdownToggle {
		display: none;
	}
	h2 {
		font-family: Arial, sans-serif;
		font-size: 1.3333333333rem;
		font-weight: bold;
		color: $dot-blue;
		display: block;
		border-bottom: 2px solid $dot-blue;
		padding: .5rem 0;
		margin-bottom: .75rem;
	}
	ul {
		margin-bottom: 1rem;
	}
	a {
		display: flex;
		padding: .75rem 0;
		font-weight: 400;
		color: $primary-color;
		i {
			width: 2rem;
			display: block;
			height: auto;
			flex: 0 0 2rem;
			color: $dot-blue;
		}
	}
}



