
/* Desktop Only */
@media (min-width: 1200px){
	a {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	section.directory .contact .contactMain,
	section.directory .resources.directoryContent {
		padding: 0 1rem;
	}
}
/* Tablet */
@media (max-width: 1199px){
	/* Breadcrumbs */ 
	nav.breadcrumbs {
		padding-left: 1rem;
	}	
	/* Sidebar */
	nav.sidebar {
		margin: 0;
		background: white;
		border-bottom: 4px solid $dot-blue;			
		padding: 0 1rem;
		#MobileDropdownToggle {
			display: block;
			padding: 1rem 0;
			cursor: pointer;
			.fa-caret-down{
				transition: transform .3s ease-in-out;
			}
		}
		ul {
			display: none;
		}
		&.active ul {
			display: block;
		}
		&.active #MobileDropdownToggle {
			border-bottom: 4px solid $dot-blue;
			margin: 0 -1rem 1rem -1rem;
			padding-left: 1rem;
			padding-right: 1rem;
			
			.fa-caret-down{
				transform: rotate(180deg);
			}
		}
	}
	/* Primary sections */ 
	section.primaryContent{
		padding: 2rem 1rem 0 1rem;
	}
	section.directory .contact .contactMain,
	section.directory .resources.directoryContent {
		padding: 0 1rem;
	}
	#MegaMenu.active .search_box {
		max-height: 1.25em;
		
		.searchTxt, .searchInput {
			display: flex;
			width: calc(100% - 3em);
			.label {
				margin-right: 1em;
			}
		}
		input[type="button" i]{
			min-height: 22px;
		    padding: 0;
	    }
	}
}
/* Tablet ONLY */ 
@media (max-width: 1199px) and (min-width: 768px){
	.sidebar.active .parentNav {
		display: flex;
		flex-wrap: wrap;
	}
	.sidebar .parentNav > li {
		margin-right: 2rem; 
	}
	#UtilityNav a {
		padding: 1em;
		font-size: .8em;
	}
}
/* Phone */
@media (max-width: 767px){
	header{
		#MegaMenu.active {
			display: flex;
			height: auto;
			flex-direction: column-reverse;
			overflow: scroll;
			position:relative;
			a {
				display: block;
				width: calc(100% - 1rem);
				border-bottom: 1px solid $dot-blue;
				padding: .6666667rem 1rem;
			}
			#SearchOverlay {
				top: 50px;
				right: 0;
				left: 0;
				bottom: 0;
				background: rgba(255,255,255,.75);	
				position:absolute;
				z-index: 11;			
			}
		}
		.active #UtilityNav {
			display: none;
			border: none;
		}
		.active .mobileUtilNav {
			display: block;
			width: 100%;
			clear: both;
			.search_box {
				display: flex;
				padding: .75rem 1rem;
				background: white;
				.searchInput{
					border-bottom: 2px solid $dot-blue;
				}
				.searchInput, .searchTxt{
					width: 70vw;
					color: lighten($dot-blue, 50%);
					&:active, &:focus{
						color: $dot-blue;
					}
				}
				.searchButton{
					margin-left: auto;
				}
			}
		}
		.columnNav {
			border: none;
			margin-bottom: 0;
			
			.navTitle {
				font-size: 1rem;
				padding-bottom: .6666667rem;
				&.open{
					.fa-plus{
						display: none;
					}
					.fa-minus{
						display: block;
					}
				}
				.fa{ 
					float: right;
					margin-left: auto;
				}
				.fa-plus {
					display: block;
				}
				.fa-minus {
					display: none;
				}
			}
			.subnav {
				display: none;
				&.open{
					display: block;
				}
	
			}
			li {
				padding: 0;
			}
			li.open {
				border-bottom: 1px solid white;	
			}
		}
		#PrimaryNav li {
			background: lighten($dot-blue, 10%);
		}

	}
	section.directory {
		margin: 0 -1rem;
		.contactMain {
			flex-wrap: wrap;
			span {
				width: calc(100% - 3rem);
				padding: .5rem;
				&.contactJob {
					margin-left: 2rem;
				}
			}
			i {
				padding-right: .5rem;
				padding-left: .5rem;
				max-width: 2rem;
				height: 100%;
			}
		}
		.directoryContent {
			flex-wrap: wrap;
			.directorySubContainer{
				width: 100%;
			}
		}
		.directoryTab{ 
			font-size: .75rem;
			i:first-of-type {padding: 0 .75rem 0 0;}
			i:last-of-type {display: none;}
		}
		.contact.active .contactDetails .contactDetail{
			margin-left: 2rem;
		}
		.resources.directoryContent {
			padding-bottom: 2rem;
		}
	}

}
