@import 'var';

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.hidden {
	display: none;
}
.active {
	display: inherit;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.centerFlex {
	display:flex;
	justify-content: center;
	align-items: center;
}
.flexCol{
	flex-direction:column;
}
.centerText {
	text-align: center;
}
input[type="button" i] {
    border: none !important; 
    background: inherit !important;
}
/* link icons 
	change 127.0.0.1 to dot.state.nm.us or whatever the domain is for your local/dev development site.
*/
a {
	&::after{
		font-family: "Font Awesome 5 Free";
		font-weight: 600;
		font-size: .75em;
		padding-left: .5em;
		position: relative;
		bottom: 2px;	
	}
	/* external link icon */
	&[href*="//"]:not([href*="127.0.0.1"])::after {
		content: '\f35d';
	}
	/* PDF */
	&[href$=".pdf"]::after {
		content: '\f1c1';	
	}
	/* Word */
	&[href$=".docx"]::after,
	&[href$=".docm"]::after,
	&[href$=".dotx"]::after,
	&[href$=".dotm"]::after,
	&[href$=".docb"]::after,
	&[href$=".odt"]::after,
	&[href$=".doc"]::after {
		content: '\f1c2';	
	}
	/* Excel */
	&[href$=".xlsx"]::after,
	&[href$=".xltx"]::after,
	&[href$=".xltm"]::after,
	&[href$=".xlsm"]::after {
		content: '\f1c3';	
	}
	/* Video */
	&[href$=".avi"]::after,
	&[href$=".mov"]::after,
	&[href$=".qt"]::after,
	&[href$=".wmv"]::after,
	&[href$=".mpg"]::after,
	&[href$=".mp4"]::after {
		content: '\f1c8';	
	}
	/* Powerpoint */
	&[href$=".ppt"]::after,
	&[href$=".ppm"]::after,
	&[href$=".potx"]::after,
	&[href$=".potm"]::after,
	&[href$=".ppsx"]::after,
	&[href$=".ppsm"]::after,
	&[href$=".odp"]::after,
	&[href$=".pptx"]::after {
		content: '\f1c4';	
	}
	/* Image File Type */
	&[href$=".jpg"]::after,
	&[href$=".gif"]::after,
	&[href$=".tiff"]::after,
	&[href$=".bmp"]::after,
	&[href$=".jpeg"]::after,
	&[href$=".png"]::after {
		content: '\f1c5';	
	}
	/* Archive */
	&[href$=".zip"]::after,
	&[href$=".tar"]::after,
	&[href$=".bz2"]::after,
	&[href$=".7z"]::after,
	&[href$=".s7z"]::after,
	&[href$=".rar"]::after,
	&[href$=".tar.gz"]::after,
	&[href$=".zipf"]::after {
		content: '\f1c6';	
	}
}